.base{
    display: flex;
    flex-direction: column;


}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.FirstHalf{
    display: flex;
}

.marginStart{
    padding: 5px;
    margin: 5px;
    border: 10px;
    width: 250px;
}

.img{
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 10px;
}


.secondHalf{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.text{
    padding: 5px;
    margin: 5px;
    border: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.aText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}

.center{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    height: 400px;
}

.text1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
}

.text2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text3{
    color: white;;
    font-family: hero 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60px;
    background-color: #3882F6;
}

.some{
    font-size: 36px;
    flex-basis: 100%;
    align-self: center;
    margin: 10px;
    border: 10px;
    padding: 10px;
    color: #1f2937;
}

.rinfo{
    display: flex;
    flex-basis: 100%;
    align-self: center;
}

.simg{
    display: flex;
    flex-direction: column;
}

.simg1{
    border: 2px solid;
    border-color: #3882F6;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
}

.subtext{
    word-wrap: normal;
    color: gray;
}

.quote{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    background-color: #E5E7EB;
    height: 500px;
}

.quote2{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    font-size: 36px;
}

.sign{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 20px;

}

.blue{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 50px;
}

.blue1{
    display: flex;
    background-color: #3B82F6;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color:antiquewhite;
}

.t1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.t2{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2{
    background-color: #3B82F6;
    border-radius: 10px;
    height: 50px;
    align-self: center;
    border-color: white;
}

.footer{
    background-color: #1f2937;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
}